<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div *ngIf="card.title === 'Books'">
              <div *ngIf="errors.books" class="error">
                <p>{{ errors.books }}</p>
              </div>
              <mat-list>
                <mat-list-item *ngFor="let book of books">
                  {{ book.title }}
                  <button
                    routerLink="/editBook/{{ book.id }}"
                    mat-icon-button
                    color="accent"
                    aria-label="Edit book"
                    title="Edit"
                  >
                    <i class="material-icons">
                      edit
                    </i>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    aria-label="Delete book"
                    title="Delete"
                    (click)="deleteBook(book.id)"
                  >
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="card.title === 'Readers'">
              <div *ngIf="errors.readers" class="error">
                <p>{{ errors.readers }}</p>
              </div>
              <mat-list>
                <mat-list-item *ngFor="let reader of readers">
                  {{ reader.name }}
                  <button
                    routerLink="/editReader/{{ reader.id }}"
                    mat-icon-button
                    color="accent"
                    aria-label="Edit book"
                    title="Edit"
                  >
                    <i class="material-icons">
                      edit
                    </i>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    aria-label="Delete reader"
                    title="Delete"
                    (click)="deleteReader(reader.id)"
                  >
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="card.title === 'The most popular books'">
              <mat-list>
                <mat-list-item
                  *ngFor="let book of books"
                  [ngStyle]="{ display: book.favorite ? 'block' : 'none' }"
                >
                  <ng-container *ngIf="book.favorite">{{
                    book.title
                  }}</ng-container>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
